[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "migrate"]
	path = migrate
	url = https://github.com/mthomas-ketchbrook/migrate
